In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
data.name="numbers"

In [6]:
data.size

5

In [7]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
data.size

5

In [9]:
data.values

array([1, 2, 3, 4, 5], dtype=int64)

In [10]:
data.shape

(5,)

In [11]:
data["a"]

1

In [12]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
data.loc["a"::2],data.iloc[3]

(a    1
 c    3
 e    5
 dtype: int64,
 4)

In [14]:
data.loc[["a","c","e"]],data.iloc[3]

(a    1
 c    3
 e    5
 dtype: int64,
 4)

In [5]:
import pandas as pd
data={
    "usn":[1,2,3,4],
    "name":["aiman","nameera","keeru","neha"],
    "age":[23,21,26,22],
    "branch":["cs","AI","cs","dsa"]
}

In [6]:
df = pd.DataFrame(data)
df

   usn     name  age branch
0    1    aiman   23     cs
1    2  nameera   21     AI
2    3    keeru   26     cs
3    4     neha   22    dsa